$mainColor:#FC3969;
$secondColor:#F8E71C;
$accentColor:#75B926;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:focus{
        outline: 1px solid $mainColor;
        box-shadow: 0px 0px 8px rgba($color:$mainColor, $alpha: 0.40);
    }
}

html{
    font-size: 14px;
}

body{
    font-family: sans-serif;
}

button{
    background-color: transparent;
    border: 0;
    padding: 0;
}

.table{
    background: #FFFFFF;
    padding: 40px;
    margin: 20px;
    border: 1px solid rgba(17, 34, 62, 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &__header{
        display: flex;
        gap:30px;
        flex-direction: column;
        &--tools{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .col{
                flex: 1;
                gap: 20px;
                display: flex;
                width: fit-content;
                &:last-child{
                    justify-content: end;
                }
            }
            &--search{
                font-weight: 400;
                font-size: 16px;
                line-height: 11px;
                /* identical to box height, or 69% */
                color: #11223E;
                opacity: 0.7;
                padding: 13px 16px;
                background: #FFFFFF;
                border: 1px solid rgba(34, 62, 105, 0.1);
                border-radius: 5px;
                max-width: 240px;
                width: 40%;
                }
        }
        &__status{
            width: 100%;
            background-color:rgba($color: $secondColor, $alpha: 0.15);
            // opacity: 0.15;
            border-radius: 5px;
            .wrapper{
                padding: 11px;
                display: flex;
                flex-direction: row;
                margin: auto;
                justify-content: center;
                align-items: center;
                gap:20px;
                .percentile{
                    position: relative;
                    border-radius: 5px;
                    background-color: #FFFFFF;
                    vertical-align: middle;
                    padding: 5px;
                    overflow: hidden;
                    .overlay{
                        position: absolute;
                        display: block;
                        left: 0;
                        top: 0;
                        background-color: #F8E71C;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        // mix-blend-mode: multiply; 
                    }
                    p{
                        color:#11223E;
                        font-weight: 400;
                        font-size: 12px;
                        position: relative;
                        z-index: 2;
                    }
                }
                .message{
                    color:rgba($color:#11223E , $alpha: 0.5);
                    font-size: 14px;
                    font-weight: 400;
                    &::before{
                        content: "!";
                        margin: 0 10px 0 0;
                        border: 1px solid rgba($color:#11223E , $alpha: 0.5);
                        padding: 1px 7px;
                        border-radius: 100%;
                        // width:100%;
                        // height: 100%;
                        // display: inline-block;
                        text-align: center;
                    }
                }
            }
        }
    }
    &__wrapper{
        overflow: auto;
        max-width: 100%;
        // max-height: 80vh;
    }
    &__content{
        padding: 0;
        margin:0;
        // overflow-x: scroll;
        // min-width: 1600px;
        border-collapse:separate;
        border-spacing:0;
        border-radius: 5px;
        .sticky--first{
            position: sticky;
            position: -webkit-sticky;
            left: 0;
            min-width: 300px;
            max-width: 450px;
            border:1px solid rgba($color:#11223E , $alpha: 0.2);
            padding: 16px 14px;
            text-align: left;
            z-index: 2;
            i{
                font-size: 18px;
                margin-right:15px;
            }
           
            .table__checkbox{
                position: absolute;
                z-index: -1;
                opacity: 0;
                &+label{
                    // display: inline-flex;
                    // align-items: center;
                    user-select: none;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 5px;
                        background-color: rgba($color: #223E69, $alpha: 0.2);
                        margin-right: 20px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 50% 50%;
                        vertical-align:top;
                        transition: all 0.4s ease-in-out;
                        // position: relative;
                    }
                }
                &:checked+label::before{
                    border-color: $mainColor;
                    background-color: $mainColor;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");    
                    transition: all 0.2s ease-in-out;
                }
            }

            
        }
        .sticky--second{
            z-index: 2;
            padding: 16px 14px;
            position: sticky;
            position: -webkit-sticky;
            left:300px;
            border:1px solid rgba($color:#11223E , $alpha: 0.2);
            text-align: center;
        }
        td,th{
            text-align: center;
            padding: 16px 14px;
            background-color: #FFFFFF;
            border:1px solid rgba($color:#11223E , $alpha: 0.07);
        }
        td{
            font-size: 14px;
            line-height: 18px;
            color: #11223E;
            position: relative;
            .sub{
                position: absolute;
                // z-index: 2;
                font-size: 10px;
                line-height: 8px;
                width:50%;
                bottom: 5px;
                left:25%;
                // transform: translate(0,100%);
                border-radius: 3px;
                padding: 2px 5px;
            }
            .pill_green{
                color: #355B08; 
                background: rgba($color:#75B926, $alpha:0.3);
            }
            .pill_red{
                color: #D0021B; 
                background: rgba($color:#D0021B, $alpha:0.15);
            }
            .sup{
                position:absolute;
                font-size: 10px;
                line-height: 8px;
                // width:50%÷;
                text-align: right;
                top: 5px;
                right:5px;
                color: #355B08; 
                
            }
            .up{
                color: #355B08; 
                font-size: 10px;
                line-height: 7px;
                &::before{
                    content: "";
                    width:0;
                    height:0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid #355B08;
                    position: absolute;
                    right:150%;
                    top:25%;
                }
            }
            .down{
                font-size: 10px;
                line-height: 7px;
                color: #D0021B;
                &::before{
                    content: "";
                    width:0;
                    height:0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #D0021B;
                    position: absolute;
                    right:150%;
                    top:25%;
                }
            }
            &.shade_green{
                background-color: rgba($color: #75B926, $alpha: 0.15) !important;
            }
            &.shade_red{
                background-color: rgba($color: #D0021B, $alpha: 0.15) !important;

            }
            .cell__wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .caption{
                    display: flex;
                    justify-items: start;
                    align-items: center;
                }
            }
            .icons__column{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                .icon1{
                    width:24px;
                    padding: 12px;
                    border-radius: 5px;
                    height:24px;
                    background-size: 220%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-image: url(https://s3-alpha-sig.figma.com/img/d445/76ca/25a281427004e022445a24b157372ba0?Expires=1653264000&Signature=b8LIuVriBpG7ivm1mbb6~7N~0P2wdDqLT7ScNM2PSOUbUwC8POJ6m-TKhO92DERrioc8i-sP9381msAznH-ICzyFjB5ES9O-20xhIhcOtukxeIeZezeFEXmdGMylIe1MVWiZvjpBxqoOkWaFf9In8wU5tm3AAGbws1vY6e7L49RlpM-~m-JEULNfYSNYPeeDZXtihBCfYQkgHJsyemF2f-QAq7YANhWBdkGUzvfQItdfoGZQ5ElKUbpvlr~TtFpCrRTpVnP1ebqFDsvXx84iGN-YCrZz~EP4LKuY9yq2z9C-X9JJiuLSBBNZqI6fuaGoN-LV2tmmUfcALIs-Oyrr3w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA),linear-gradient(#FFFFFF33,#FFFFFF33);
                    margin:5px 0;
                    opacity: 0.7;
                    &:hover{
                        opacity: 1;
                    }
                }
                .icon2{
                    width:24px;
                    padding: 12px;
                    height:24px;
                    border-radius: 5px;
                    background-size:220%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-image: url(https://s3-alpha-sig.figma.com/img/0640/549e/2c8f4b4acd23f4664b5e78de189797ae?Expires=1653264000&Signature=Pi1HfjXFIY1pnLYzTEEKYuxqq~3gMTgmV1inCTd23nek5VD0Z3~eF5fsZYYmCBJeJcXUstJv~SlN6sj8FSy~TeC4Umg2RZYIf0OEzRGhUVLbLNlqKvgRV0Ccrf6FvZjAWx0qVeInzGLdtzt1e~e4WwKiBvaf0~UT3Ilzh9G6K5R1U2edAmby2GYye0aLDgnqAy-nia5pLJVmduwrOErIJ4a3lTcIeWTbsTnyWHnPXaSLZUcHLgRxDQFIzEJab6ysU8yqrvDX7oJUghS31mALlDhhtLIGQO-CoOJ2DA5Sk8SqnhvzPA9wShY-xDzSRO6T85PjniCGralOu2gbJIcdjQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA),linear-gradient(#FFFFFF33,#FFFFFF33);
                    margin:5px 0;
                    opacity: 0.7;
                    &:hover{
                        opacity: 1;
                    }
                }
                .icon3{
                    width:24px;
                    padding: 12px;
                    height:24px;
                    border-radius: 5px;
                    background-size:220%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-image: url(https://s3-alpha-sig.figma.com/img/b124/9236/08719f66f37795bcf1dad78d3693a565?Expires=1653264000&Signature=PIzYArQEUrVstACcncSIC-K1WMP5eq2Saadt9dEfOi9GohEYnlTXmZQFI9vBzMqagOFb9ysqDKuIo7cAudSQfAj0Vg0lKMpHYFsB54FKBxUdY1h7UMebrNf58lS52uaF2uiBagLt0pbJYg0PFnt9EfI72r-mTNO2xb86O0cdY-0QVRPZesPfRq660vJoMHChiQKl9xwC2q~kNBAz~YiGdqXd426pfauBlX~1nGKTp3CuOht147Nel-zo2WQYtU9qQHcAO22aT2qU10aSpe2QPttdAlCtY~moCyG0QrhcYDDh8P0jKBbZokCerlDWzYJq9Z7rNdAvJsZZ1IasK6tJ0A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA),linear-gradient(#FFFFFF33,#FFFFFF33);
                    margin:5px 0;
                    opacity: 0.7;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            .icons{
                flex:1;
                display: inline-flex;
                text-align: right;
                // margin-left: 0px;
            }
            .fa-star{
                // float: right;
                // color: #FFF;
                // stroke:1px solid #11223E;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                &.checked{
                    opacity: 1;
                    color:#F5A623;
                }
                
            }
            .fa-angle-right{
                display: block;
                width: 20px;;
                height: 20px;;
                padding: 5px;
                border-radius: 100%;
                font-size: 12px;
                // vertical-align: middle;
                margin: auto 0;
                &:hover{
                    background-color: #F3F3F3;
                }
            }
        }
        tbody tr:hover td{
            background-color:#F9f9f9;
            .fa-star{
                opacity: 0.2;
                transition: all 0.15s ease-in-out;
                &:hover{
                    color: #F5A623;
                    opacity: 1;
                    transition: all 0.15s ease-in-out;
                }
            }
            .fa-star.checked{
                opacity: 1;
            }
        }
        .date{
            width:45px;
        }
        .additional-row>td.sticky--first, .additional-row>td.sticky--second,.additional-row>td{
            border: none;
        }
        .additional-row{
            height:100%;
            line-height: 100%;
            transition-duration: .75s;
            display: none;
            opacity: 0;
            transition: 1s all ease-in-out;
        }

        thead{
            position: sticky;
            top: 0;
            height:auto;
            z-index: 2;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            /* or 125% */
            color:rgba($color:#11223E , $alpha: 0.3);
        }
    }
}

.button__main{
    font-weight: 400;
    font-size: 16px;
    line-height: 11px;
    /* identical to box height, or 69% */
    background-color: $mainColor;
    padding: 13px 20px;
    color: #FFFFFF;
    box-shadow: 0px 3px 7px rgba(252, 57, 105, 0.3);
    border-radius: 5px;
    transition: 0.3s all;
    &:hover{
        transform: scale(0.98);
        transition: 0.3s all;    
    }
    &:active{
        opacity: 0.6;
    }
}

.button__second{
    @extend .button__main;  
    color: #11223E;
    background-color: #FFFFFF;
    border: 1px solid rgba($color: #223E69, $alpha: 0.2);
    box-shadow:none;

}